body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%;
}

code {
  font-family: 'Roboto', sans-serif, Monaco;
}

.btn-ecopetrol-primary {

}

.btn-eco-secundary {

}

.btn.btn-eco-generic {

}

.title-eco {
  font-size: 22px;
  font-weight: bold;
}

.subtitle-eco {
  font-size: 17px;
}

.normal-eco-text {
  font-size: 15px;
  font-weight: normal;
}

.small-eco-text {
  font-size: 13px;
  font-weight: normal;
}

