
/* ----------------$colors-------------- */

$color-primary-blue: #2D3086;
$color-secondary-gray: #F5F5F5;
$color-text-gray:#9F9D9D;
$color-text-darkgray: #666666;
$color-background: #0E0C5A;
$color-background-card: #EBE9E9;

$color-warning: rgb(253, 179, 80);
$color-alert: #f44336;
$color-success: #4caf50;

/* ----------------end $colors-------------- */



/* ----------------$fonts-------------- */

$font-roboto-regular: 'Roboto Regular';
$font-roboto-bold: 'bold';
$font-roboto-medium: 'Roboto Medium';
$font-roboto-light: 'Roboto Ligth';

/* ----------------end $fonts-------------- */


/* ----------------sizes-------------- */
$size-title:36px;
$size-subtitle:25px;
$size-text-button:16px;
$size-subtext:14px;
$size-icon-title:35px;
/* ----------------end sizes-------------- */
