
/* ----------------$colors-------------- */

$color-primary-blue: #2D3086;
$color-secondary-gray: #F5F5F5;
$color-text-gray:#9F9D9D;
$color-text-darkgray: #666666;
$color-background: #0E0C5A;

$color-warning: rgb(253, 179, 80);
$color-alert: #f44336;
$color-success: #4caf50;

/* ----------------end $colors-------------- */



/* ----------------$fonts-------------- */

$font-roboto-regular: 'Roboto Regular';
$font-roboto-bold: 'Roboto Bold';

/* ----------------end $fonts-------------- */


/* ----------------sizes-------------- */
$size-title:36px;
$size-subtitle:21px;
$size-text-button:16px;
$size-subtext:14px;
/* ----------------end sizes-------------- */
